<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @credit_card.bank %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @credit_card.nickname %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @credit_card.goals %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @credit_card.interest_rate %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @credit_card.limit %>
</p>

<p>
  <strong>User:</strong>
  <%= @credit_card.user_id %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
