<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @account.bank %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @account.nickname %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.type %>
</p>

<p>
  <strong>Available balance:</strong>
  <%= @account.available_balance %>
</p>

<p>
  <strong>Present balance:</strong>
  <%= @account.present_balance %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @account.goals %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
